:root {
  --form-background: #0a0e15;
  --form-border: #212631;
  --form-title: #ffffff;
  --form-label: #ffffff;
  --input-background: #e0e4eb;
  --input-text-thread: #212631;
  --input-placeholder-thread: #2126319a;
  --input-focus: #93a7ff;
  --submit-text: #ffffff;
  --submit-bg: #212631;
  --submit-bg-hover: #373f4e;
  --submit-bg-act: #f0f1f5;
}

[data-theme="light"] {
  --form-background: #ffffff;
  --form-border: #212631;
  --form-title: #000000;
  --form-label: #0a0e15;
  --input-background: #212631ce;
  --input-text-thread: #ffffff;
  --input-placeholder-thread: #e0e4eb;
  --input-focus: #93a7ff;
  --submit-text: #ffffff;
  --submit-bg: #212631;
  --submit-bg-hover: #000000;
  --submit-bg-act: #f0f1f5;
}

.classify-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.small-page {
  position: absolute;
  max-width: 750px;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#threadForm {
  display: flex;
  flex-direction: column;
}

#threadForm div label {
  color: var(--form-label);
  font-size: 1rem;
  font-weight: 500;
}

#title {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  overflow: auto;
  color: var(--input-text-thread);
  border: 1px solid transparent;
}

#title::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--input-placeholder-thread);
  pointer-events: none;
}

#title:focus {
  border: 1px solid var(--input-focus);
}

#threadsSubmit {
  min-width: 145.2px;
  align-self: flex-end;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--submit-bg);
  font-size: 1rem;
  color: var(--submit-text);
}

#threadsSubmit:hover {
  background-color: var(--submit-bg-hover);
}

#threadsSubmit:active {
  background-color: var(--submit-bg-act);
}
