

.model-select-container {
  display: flex;
  align-items: center;
}

.modelDropdown {
  display: flex;
  align-items: center;
  border: 1px solid var(--select-model-border);
  border-radius: 2rem;
  background-color: var(--select-model-background);
  transition: background-color 0.2s ease-in-out;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  padding-inline: 0.4rem;
}

.modelDropdown:hover {
  background-color: var(--select-model-hover);
}

.modelSelect {
  padding: 0.40rem 0.4rem 0.4rem 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--select-model-text);
  font-size: 0.9rem;
  font-weight: 500;
  width: 100%;
  height: 100%;

  /* Remove arrow default styling for consistency across browsers */
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

.modelSelect option {
  background-color: var(--select-model-background);
  color: var(--select-model-text);
  font-size: 1rem;
  padding: 0.5rem;
}
