.dataset-table-header-info .preprocess-delete svg {
  width: 1.85rem;
  height: 1.85rem;
  color: var(--bw-text);
}

.dataset-table-header-info .preprocess-delete::after {
  content: "See all models history";
  left: 3rem;
}
