/* ParametersPage.css */
.parameters-page {
  background-color: var(--main-bg);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.parameters-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 2px solid var(--form-border);
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  min-height: 50.78px;
}

.parameters-title {
  font-size: 1.5rem;
}

.parameters-upper {
  display: flex;
  gap: 2rem;
}

.parameters-upper-left,
.parameters-upper-right {
  flex: 1;
}

.form-section {
  background-color: var(--form-background);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.parameter-model-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.form-group input,
.form-group select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--background);
  color: var(--primary-text);
}

.form-group.train-test-split {
  flex: 1;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.summary-table th {
  background-color: var(--form-background);
}

.parameters-lower {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.total-data-parameter {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
}
