.c5-info {
  margin-block: 0.25rem 0.5rem;
  line-height: 1.3rem;
}
.c5-table thead th {
  padding: 0.7rem 1rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 2px solid var(--nav-border);
}

.c5-table tbody td {
  padding: 0.65rem 1rem;
  text-align: center;
  font-size: 0.85rem;
}

.c5-table tbody td.left-text {
  text-align: left;
}
.c5-table tbody td.numbering {
  border-right: 1px solid var(--form-border);
}

